.Botao-primario{

    display: inline-block;
    background:$Botao-primario;
    
    padding: 5px 20px;
    border-radius: 5px;
    color:#ffffff;
    &:hover{

        background: darken($Botao-primario, 10%);
        color:#ffffff;
        text-decoration: none;

    }
    
    }
    .Botao-secundario{

        display: inline-block;
        background: $Botao-secundario;
        text-decoration: none;
        padding: 5px 20px;
        border-radius: 5px;
        color:#ffffff;

        &:hover{

            background: darken($Botao-secundario, 10%);
            color:#ffffff;
            text-decoration: none;
    
        }
        
        }